# Dependencies
node_modules/

# Environment Variables (Critical Security)
.env
.env.local

# Build Output
dist/

# OS Files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cloud/IDE artifacts
.idea/
.vscode/
